.chat-container {
  position: relative;
  width: 1000px;
  max-width: 80%;
  margin: auto;
  padding: 16px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.chat-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-messages {
  max-width: 100%;
  max-height: 100%;
  height: 600px;

  padding: 8px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;

  word-wrap: break-word;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-message {
  display: flex;
  flex-direction: column;

  padding: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.chat-message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-time {
  font-size: 12px;
  color: #888;
}

.chat-message:hover {
  background: #f0f0f0;
  border-radius: 8px;
}

.chat-message.highlight {
  background: #cecece;
  border-radius: 8px;
}

.chat-quote {
  display: flex;
  flex-direction: column;

  max-height: 300px;

  margin-top: 4px;
  padding: 4px;
  border-left: 3px solid #888;
  font-size: 14px;
  color: #555;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  transition: all 0.2s ease-in-out;
}

.chat-quote:hover {
  background: #dfdfdf;
  border-radius: 8px;
}

.chat-selected-quote {
  position: relative;
  max-height: 80px;
  background: #e0e0e0;
  padding: 6px;
  margin-bottom: 6px;
  border-left: 3px solid #555;
  border-radius: 5px;
  word-wrap: break-word;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-selected-quote-close {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.chat-selected-quote-close svg {
  width: 18px;
  height: 18px;
}

.chat-textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

  resize: none;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat-input-container {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin-top: 8px;
}

.chat-file-button {
  width: 37px;
  height: 37px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-file-preview {
  display: flex;
  flex-direction: row;
}

.chat-file-image {
  max-width: 60px;
  margin-left: 10px;

  border-radius: 5px;
}

.chat-file-video {
  max-width: 200px;
  margin-left: 10px;
}

.chat-media {
  max-width: 50%;
  max-height: 300px;
  margin-top: 10px;
  border-radius: 8px;
}

.chat-media img,
.chat-media video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 10px;
  object-fit: contain;
}

.chat-button {
  width: 100%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.chat-button:hover {
  background: #0056b3;
}

.change-background-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.change-background-button svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

.chat-close-button {
  position: absolute;
  top: 5px;
  right: 5px;

  background-color: #fff;
  width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.chat-container:hover .chat-close-button {
  opacity: 1;
}

@media (max-width: 768px) {
  .chat-container {
    margin: 0px;

    max-width: 100%;
  }

  .chat-messages {
    height: 500px;
  }

  .chat-media {
    max-width: 70%;
  }
}
